<form method="POST" action="{{ url_for('html:login_post' ) }}" class="">
  {{ render_partial('shared/partials/flash_message.html', message=message) }}
  <div class="flex flex-col gap-6 mb-6">
    {{ render_partial('shared/partials/forms/field.html', field=form.username) }}
    {{ render_partial('shared/partials/forms/field.html', field=form.password) }}
  </div>
  {{ render_partial('shared/partials/forms/submit_button.html', text="Log in") }}
  <p>
    Don't have an account?
    <a
      href="{{ url_for('html:register_get') }}"
      class="text-teal-600 hover:text-teal-700 hover:underline underline-offset-4"
      >Register here...</a
    >
  </p>
</form>
