<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.bunny.net" />
  <link
    href="https://fonts.bunny.net/css?family=roboto:400,500,700"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="{{ url_for('html:static', path='css/styles.css') }}"
  />
  <script
    defer
    src="{{ url_for('html:static', path='js/htmx.js') }}?1.9.8"
  ></script>
  <script
    defer
    src="{{ url_for('html:static', path='js/alpine.js') }}?3.13.12"
  ></script>
  <script
    defer
    src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.2/dist/cdn.min.js"
  ></script>
  <script
    type="module"
    src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
  ></script>
  <script
    nomodule
    src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
  ></script>
  <title>Todos app</title>
</head>
